{
  "src/**/*.{ts,tsx}": [
    "eslint --cache --cache-location node_modules/.cache/.eslintcache --fix"
  ],
  "src/**/*.{css,scss,sass}": [
    "stylelint --cache --cache-location node_modules/.cache/.stylelintcache --fix"
  ]
}
