@import '~sanitize.css';
@import '~sanitize.css/forms.css';
@import '~sanitize.css/typography.css';

.cls {
  padding: 20px;
  background-color: #000;
  color: #fff;
}

img {
  object-fit: contain;
  width: 100%;
  height: auto;
}
