// Default: For modern format fonts
// Files Required: .woff2
// resolve-url-loader without files breaks webpack, ensure you have them
// you can manually add another formats

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $range: null) {
  @font-face {

    @if $range {
      unicode-range: $range;
    }

    font-weight: $weight;
    font-style: $style;
    font-family: '#{$file-path}.woff2';
    src: url('#{$file-path}.woff2') format('woff2');
    font-display: swap;
  }
}
